#root {
  max-width: 1280px;
  padding: 4rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.app-container>h1>span {
  -webkit-background-clip: text; /* For Safari */
  background-image: linear-gradient(to right, #853fe0, #680467);
  color: transparent;
}

@media only screen and (max-width: 768px) {
  .app-container {
    align-items: center;
  }
}


